<header>
  <h1><%= user.capitalize %>'s Bowling Shot Log</h1>
</header>

<nav>
  <h2>Menu</h2>
  <ul>
    <li>Last Week</li>
    <li>Archives</li>
  </ul>
</nav>

<article>
  <h2>Yesterday</h2>
  <p>I woke up in the gutter!</p>
</article>

<article>
  <h2>Tuesday</h2>
  <p>Split city, so I tried to build a form.</p>
</article>

<article>
  <form method="post">
    <div><label for="name">Name:</label><br />
    <input type="text" id="name" name="name" /></div>
    <div><input type="submit" value="submit" /></div>
  </form>
</article>

<footer>
  <p><small>This is copyright by somebody.  Contact me to
    negotiate the movie rights.</small></p>
</footer>